{% extends 'base.html' %}
{% load assisi_utils %}
{% load staticfiles%}
{% load handlebarsjs from jstemplate %}


{% block title %}Admin | Easter Outreach{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static "styles/admin.css" %}">
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/chinchang/hint.css/master/hint.min.css">
{% endblock %}

{% block content %}
  <div id="alert-region"></div>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.easteroutreach.org/">
          <img src="{% static "images/logo.png" %}" alt="Easter Outreach">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'request-list' %}?format=csv&page_size=100000">Download Data</a></li>
          <li><a href="{% url 'app-signout' %}">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div id="request-add-region"></div>
    <div id="request-list-region"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.0.0/jquery.serialize-object.compiled.js"></script>
  <script src="{% static "scripts/gatekeeper.js" %}"></script>
  <script src="{% static "scripts/mixins.js" %}"></script>
  <script src="{% static "scripts/models.js" %}"></script>
  <script src="{% static "scripts/views.js" %}"></script>
  <script src="{% static "scripts/admin.js" %}"></script>

  <script>
    Assisi.Config = {
      distribution_sites: {{ distribution_sites|as_json }}
    }
  </script>


  {% handlebarsjs '(.*)' precompile register_partials %}

{% endblock %}