{% extends 'base.html' %}
{% load staticfiles%}
{% load handlebarsjs from jstemplate %}


{% block title %}Admin | Assisi{% endblock %}

{% block styles %}{% endblock %}

{% block content %}
  <div class="container" id="main"></div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.0.0/jquery.serialize-object.compiled.js"></script>
  <script src="{% static "scripts/models.js" %}"></script>
  <script src="{% static "scripts/views.js" %}"></script>
  <script src="{% static "scripts/admin.js" %}"></script>

  {% handlebarsjs '(.*)' precompile register_partials %}

{% endblock %}