<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Make a request</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

  <form class="pure-form pure-form-aligned">
    <fieldset>
      <div class="pure-control-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" placeholder="Name" required>
      </div>

      <div class="pure-control-group">
        <label for="zip">Zip Code</label>
        <select id="zip" name="zip" required>
          <option value="">------------------------------</option>
          <option>08108</option>
          <option>17011</option>
          <option>17015</option>
          <option>17025</option>
          <option>17043</option>
          <option>17055</option>
          <option>17050</option>
          <option>17070</option>
          <option>17102</option>
          <option>17103</option>
          <option>17120</option>
          <option>17101</option>
          <option>19104</option>
          <option>19121</option>
          <option>19122</option>
          <option>19123</option>
          <option>19125</option>
          <option>19127</option>
          <option>19128</option>
          <option>19129</option>
          <option>19130</option>
          <option>19132</option>
          <option>19133</option>
          <option>19134</option>
          <option>19139</option>
          <option>19143</option>
          <option>19144</option>
          <option>19145</option>
          <option>19146</option>
          <option>19147</option>
          <option>19148</option>
        </select>
      </div>
      <div class="pure-control-group">
        <label for="address">Address</label>
        <input id="address" name="Address" type="text" placeholder="Address" required>
      </div>


      <div class="pure-control-group">
        <label for="email">Email</label>
        <input id="email" name="email" type="text" placeholder="Email" required>
      </div>

      <div class="pure-control-group">
        <label for="mobile_phone">Mobile Phone</label>
        <input id="mobile_phone" name="mobile_phone" type="text" placeholder="Mobile Phone" required>
      </div>

      <div class="pure-control-group">
        <label for="home_phone">Home Phone</label>
        <input id="home_phone" name="home_phone" type="text" placeholder="Home Phone" required>
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
      </div>
    </fieldset>
  </form>
</body>
</html>
