{% extends 'base.html' %}
{% load staticfiles%}

{% block title %}Signin | Easter Outreach{% endblock %}

{% block content %}
  <header class="row">
    <div class="center-block text-center col-md-4">
      <img class="logo" src="{% static "images/logo2016.png" %}" alt="Easter Outreach">
    </div>
  </header>

  <div class="container">

    {% if request.GET.email %}
    <div class="row">
      <div class="text-center center-block col-md-8" style="float: none;">
        <div class="alert alert-success" role="alert">
          User <strong>{{ request.GET.email }}</strong> has been created. Please sign in.
        </div>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="center-block col-md-4" style="float: none;">

        <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
          {% csrf_token %}

          {{ form.non_field_errors }}
          <h2 class="form-signin-heading">Sign in</h2>

          <p>
          <label for="inputUsername" class="sr-only">Email</label>
          <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Email" value="{{ request.GET.email }}" required autofocus>
          </p>
          <p>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
          </p>

          <input type="hidden" name="next" value="{{ next }}" />
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

        <br>
        <p>No account? Go ahead and <a href="{% url 'app-register' %}">register</a>.</p>


      </div>
    </div>
  </div>
{% endblock %}